@mixin link($word) {
    text-decoration: none;
    display: block;
    @if $word == "hover" {
        color: blanchedalmond;
    } @else {
        color: black;
    }
}

$minIphone: 500px;
$maxIphone: 690px;
@mixin responsive($device) {
    @if $device == "iphone" {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone) {
            @content;
        }
    } @else if $device =="tablet" {

    } @else if $device =="pc" {
        
    }
}